<div class="row">
    <h2>New Registration</h2>
</div>
<div ng-controller="FormsController">
    <form name="regForm" ng-submit="checkForm(regForm)" novalidate >
        <div class="form-group">
            <label for="firstname" class="col-md-2">
                First Name:
            </label>
            <div class="col-md-10">
                <input type="text" ng-model="firstname" class="form-control"  name="firstname"  placeholder="Enter First Name" required >
                <div ng-show="regForm.$submitted || regForm.firstname.$touched">
                    <div ng-show="regForm.firstname.$error.required">Tell us your First Name.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-md-2">
                Last Name:
            </label>
            <div class="col-md-10">
                <input type="text" name="lastname" class="form-control" ng-model="lastname" placeholder="Enter Last Name" required>
                <div ng-show="regForm.$submitted || regForm.lastname.$touched">
                    <div ng-show="regForm.lastname.$error.required">Tell us your Last Name.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="emailaddress" class="col-md-2">
                Email address:
            </label>
            <div class="col-md-10">
                <input type="email" name="email" class="form-control" ng-model="emailaddress" placeholder="Enter email address" required>
                <p class="help-block">
                    Example: yourname@domain.com
                <div ng-show="regForm.$submitted || regForm.email.$touched">
                    <div ng-show="regForm.email.$error.required">Tell us your Email.</div>
                </div>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-2">
                Password:
            </label>
            <div class="col-md-10">
                <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
                <p class="help-block">
                    Min: 6 characters (Alphanumeric only)
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="sex" class="col-md-2">
                Sex:
            </label>
            <div class="col-md-10">
                <label class="radio">
                    <input type="radio" name="sex"  id="sex" value="male" checked>
                    Male
                </label>
                <label class="radio">
                    <input type="radio" name="sex" id="sex" value="female">
                    Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="country" class="col-md-2">
                Country:
            </label>
            <div class="col-md-10">
                <select name="country" id="country" class="form-control">
                    <option>--Please Select--</option>
                    <option>India</option>
                    <option>United States</option>
                    <option>Canada</option>
                    <option>United Kingdom</option>
                    <option>Others</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="uploadimage" class="col-md-2">
                Upload Image:
            </label>
            <div class="col-md-10">
                <input type="file" name="uploadimage" id="uploadimage">
                <p class="help-block">
                    Allowed formats: jpeg, jpg, gif, png
                </p>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label>
                    <input type="checkbox">Terms and Conditions</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-info">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>
<h2>signup.html </h2>

 <div style="color: red">
                <p>{{ message }}</p>
            </div>